<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="LittleMylyn"
            id="LittleMylyn">
      </category>
      <view
            name="LittleMylynView"
            icon="icons/sample.gif"
            category="LittleMylyn"
            class="littlemylyn.views.LittleMylynView"
            id="littlemylyn.views.LittleMylynView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetId="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="littlemylyn.views.LittleMylynView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <category
            name="LittleMylyn"
            description="..."
            id="littlemylyn.commands.category"/> 
   <command 
            categoryId="littlemylyn.commands.category"  
            name="New Task"
            description="Create a new task."
            id="littlemylyn.commands.newTask" />
   </extension>
   
   <extension point="org.eclipse.ui.menus">
       <menuContribution  
            locationURI="menu:littlemylyn.views.LittleMylynView?after=additions">
            <command
               commandId="littlemylyn.commands.newTask"
               id="littlemylyn.menus.newLittleMylynTask"
               icon="icons/sample.gif" />
      </menuContribution>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler
         commandId="littlemylyn.commands.newTask"
         class="littlemylyn.handlers.NewTaskHandler">
      </handler> 
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
   </extension>
   <extension
         point="org.eclipse.ui.editors">
   </extension>
   
</plugin>
